.notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 90px;
  min-height: 80vh;
  font-style: italic;
}

.note-form {
  margin-bottom: 20px;
}
.note-input {
  margin-bottom: 10px;
  border: 2px solid #000b44;
  border-radius: 4px;
  box-shadow: 0 0 5px #031881;
  outline: none;
  padding: 8px;
}
.add-note-button {
  display: block;
  width: 100%;
  background-color: #142788 !important;
  border: none !important;
  border-radius: 5px !important;
  color: #fff !important;
  cursor: pointer !important;
  font-size: 16px !important;
}

.notes-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.note-card {
  width: 18rem;
  color: #142788 !important;
  background-color: #f7f7f8 !important;
  border-radius: 6px !important;
  border: 0.5px solid #142788 !important;
}

.note-form-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-input,
.modal-textarea {
  padding: 10px;
  border: 1px solid #d3d4d4;
  border-radius: 4px;
  margin-bottom: 10px;
}

.modal-textarea {
  resize: none;
}

.modal-add-button {
  background-color: #142788 !important;
}
.note-form button {
  align-self: flex-start;
}
.icons-section {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
