.custom-navbar {
  background-color: #142788 !important;
}

.custom-navbar .navbar-nav .nav-link,
.custom-navbar .navbar-brand {
  color: #fff !important;
  font-weight: 800;
  font-size: 1.5rem;
}

.custom-navbar .nav-dropdown .dropdown-menu {
  background-color: #142788;
}

.custom-navbar .nav-dropdown .dropdown-item {
  color: #fff;
}



@media screen and (max-width: 768px) {
  .custom-navbar .navbar-nav .nav-link,
  .custom-navbar .navbar-brand {
    padding:  0 20px ;
  }
}
