.custom-navbar {
  background-color: #0a1969 !important;
}

.custom-navbar .navbar-nav .nav-link,
.custom-navbar .navbar-brand {
  color: #fff !important;
  font-weight: 700;
}

.custom-navbar .nav-dropdown .dropdown-menu {
  background-color: #0a1969 !important;
}

.custom-navbar .nav-dropdown .dropdown-item {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .custom-navbar .navbar-nav .nav-link,
  .custom-navbar .navbar-brand {
    padding: 0 10px;
  }
}
.navbar .dropdown-menu .dropdown-item:hover,
.navbar .dropdown-menu .dropdown-item:focus {
  background-color: transparent; /* Set to any preferred color */
  color: inherit; /* Keep the text color */
}
